// Red
$red: #E89188;
$red-tongue: #D8764F;

// Pink
$pink: #FFE0E0;
$pink-dress: #FEC3C3;
$blush: #FFC3A3;

//Skin
$skin: #FFF1D0;
$skin-shadow: #EEDAAB;

// Yellow
$yellow-pale: #FDF2B6;

// Blue
$blue: #F0F7FC;

// Brown
$brown-light: #A1896F;
$brown: #493628;
$brown-mid: #C9925A;
$brown-mdark: #806447;
$brown-dark: #56351E;

// Black
$black: #121212;
$black-light: #444444;

// White
$white: #FFFFFF;
