// Red
$red: #E89188;

// Pink
$pink: #FFE0E0;
$blush: #FFC3A3;

//Skin
$skin: #FFF1D0;
$skin-mid: #F9E8C0;
$skin-shadow: #F2E0B5;

// Brown
$brown-light: #A1896F;
$brown: #645A4C;
$brown-dark: #462D13;

// Black
$black: #121212;
