// Red
$red: #E89188;
$red-tongue: #D8764F;

// Pink
$pink: #FFE0E0;
$blush: #FFC3A3;

//Skin
$skin: #FFF1D0;
$skin-mid: #F9E8C0;
$skin-shadow: #F2E0B5;

// Yellow
$yellow-pale: #FDF2B6;

// Brown
$brown-light: #A1896F;
$brown: #493628;
$brown-dark: #56351E;

// Black
$black: #121212;
$black-light: #444444;

// White
$white: #FFFFFF;
