// Base
@import "base/variables"; // Colours
@import "base/animations";

// Components
@import "components/head";
@import "components/hair";
@import "components/shirt";
@import "components/arms";
@import "components/legs";
@import "components/shoe-lhs";
@import "components/shoe-rhs";

body {
  background-color: $blue;
}

#person {
  display: block;
  position: absolute;
  top: 12%;
  margin-left: 46%;
}
