.arm-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 30px;
  height: 130px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 220px;
  right: 130px;
  transform: rotate(-5deg);
}

.arm-rhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 30px;
  height: 130px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 220px;
  left: 104px;
  transform: rotate(5deg);
}
