.arm-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 30px;
  height: 110px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 220px;
  right: 156px;
  transform: rotate(20deg);
}

.hand-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 36px;
  height: 60px;
  background-color: $skin;
  border-radius: 100%;
  transform: rotate(20deg);
  top: 304px;
  right: 174px;
}
