#head-container {
  z-index: 2;
  position: absolute;

  .head {
    display: block;
    position: absolute;
    width: 110px;
    height: 130px;
    border-radius: 100%;
    background-color: $skin;

    .face {

      .eyes {
        margin: 54px 0 0 24px;
        animation: blink 3s infinite;

        .eye-lhs {
          display: inline-block;
          position: relative;
          width: 10px;
          height: 12px;
          border-radius: 100%;
          background-color: $black;
        }

        .eye-rhs {
          display: inline-block;
          position: relative;
          width: 10px;
          height: 12px;
          border-radius: 100%;
          background-color: $black;
          margin: 0 0 0 38px;
        }
      } //end eyes

      .blush {
        margin: -6px 0 0 15px;
        z-index: 2;

        .blush-lhs {
          display: inline-block;
          position: relative;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background-color: $blush;
        }

        .blush-rhs {
          display: inline-block;
          position: relative;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background-color: $blush;
          margin: 0 0 0 24px;
        }
      } // end blush

      .nose {
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 10px solid transparent;
        border-bottom: 12px solid $red;
        border-left: 10px solid transparent;
        z-index: 3;
        margin: -8px 0 0 49px;
      }

      .mouth {
        display: block;
        position: relative;
        width: 16px;
        height: 10px;
        border-radius: 10px 15px 70px 70px;
        background-color: $black-light;
        top: 26px;
        left: 47px;
      }

    } // end face
  } // end head

}
