#shoe {
  display: block;
  position: absolute;
  top: 30px;

  .shoe-lhs-top {
    z-index: 2;
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: $brown-mid;
    border-radius: 50%;
    top: 580px;
    left: 10px;
    transform: rotate(0deg);
  }

  .shoe-lhs-mid {
    z-index: 2;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $brown-mid;
    top: 590px;
    left: 10px;
    transform: rotate(0deg);
  }

  .shoe-lhs {
    z-index: 2;
    display: block;
    position: absolute;
    width: 40px;
    height: 80px;
    background-color: $brown-mid;
    border-radius: 40%;
    top: 608px;
    left: 14px;
    transform: rotate(-14deg);
  }

  .shoe-lhs-btm-r {
    z-index: 2;
    display: block;
    position: absolute;
    width: 36px;
    height: 40px;
    background-color: $brown-mid;
    border-radius: 100%;
    top: 650px;
    left: 22px;
  }

  .shoe-lhs-btm {
    z-index: 0;
    display: block;
    position: absolute;
    width: 44px;
    height: 84px;
    background-color: $brown-mdark;
    border-radius: 100%;
    top: 620px;
    left: 10px;
    transform: rotate(-22deg);
  }
} // end shoe lhs


.leg-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 36px;
  height: 100px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 540px;
  left: 12px;
}

.leg-rhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 36px;
  height: 100px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 540px;
  left: 62px;
}
