.leg-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 36px;
  height: 100px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 540px;
  left: 12px;
}

.leg-rhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 36px;
  height: 100px;
  background-color: $skin;
  border-radius: 10px 15px 50px 50px;
  top: 540px;
  left: 62px;
}
