.top {
  z-index: 1;
  display: block;
  position: absolute;
  width: 160px;
  height: 100px;
  background-color: $pink-dress;
  top: 136px;
  right: 2px;
  border-radius: 100% 100% 90% 80%;
}

.mid {
  z-index: 1;
  display: block;
  position: absolute;
  width: 120px;
  height: 130px;
  background-color: $pink-dress;
  border-radius: 0 0 20% 20%;
  top: 194px;
  right: 22px;
}
