.top {
  z-index: 1;
  display: block;
  position: absolute;
  width: 160px;
  height: 100px;
  background-color: $pink-dress;
  top: 136px;
  right: 2px;
  border-radius: 100% 100% 90% 80%;
}

.mid {
  z-index: 2;
  display: block;
  position: absolute;
  width: 110px;
  height: 130px;
  background-color: $pink-dress;
  border-radius: 0 0 10% 10%;
  top: 194px;
  right: 26px;
}

.sleeve-lhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 54px;
  height: 60px;
  background-color: $pink-dress;
  border-radius: 0 0 20% 20%;
  top: 174px;
  right: 116px;
  transform: rotate(24deg);
}

.sleeve-rhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 54px;
  height: 60px;
  background-color: $pink-dress;
  border-radius: 0 0 20% 20%;
  top: 174px;
  left: 88px;
  transform: rotate(-24deg);
}

.bottom-top {
  z-index: 1;
  display: block;
  position: absolute;
  width: 110px;
  height: 260px;
  background-color: $pink-dress;
  border-radius: 0 0 100% 100%;
  top: 290px;
  right: 26px;
}

.bottom-lhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 140px;
  height: 250px;
  background-color: $pink-dress;
  border-radius: 0;
  top: 310px;
  right: 18px;
  transform: rotate(10deg);
  border-radius: 0 100% 100% 50%;
}

.bottom-rhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 140px;
  height: 250px;
  background-color: $pink-dress;
  border-radius: 100% 0 30% 60%;
  top: 302px;
  right: 6px;
  transform: rotate(-10deg);
}

.bottom-btm {
  z-index: 2;
  display: block;
  position: absolute;
  width: 170px;
  height: 100px;
  background-color: $pink-dress;
  border-radius: 100% 100%;
  top: 470px;
  right: -3px;
}
