.top {
  z-index: 1;
  display: block;
  position: absolute;
  width: 160px;
  height: 100px;
  background-color: $pink-dress;
  top: 136px;
  right: 2px;
  border-radius: 100% 100% 90% 80%;
}

.mid {
  z-index: 1;
  display: block;
  position: absolute;
  width: 110px;
  height: 130px;
  background-color: $pink-dress;
  border-radius: 0 0 10% 10%;
  top: 194px;
  right: 26px;
}

.sleeve-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 54px;
  height: 60px;
  background-color: $pink-dress;
  border-radius: 0 0 20% 20%;
  top: 174px;
  right: 116px;
  transform: rotate(24deg);
}

.sleeve-rhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 54px;
  height: 60px;
  background-color: $pink-dress;
  border-radius: 0 0 20% 20%;
  top: 174px;
  left: 88px;
  transform: rotate(-24deg);
}
