@keyframes blink {
  0% {
    transform: scaleY(0.2); }
  3% {
    transform: scaleY(1); }
  6% {
    transform: scaleY(0.1); }
  10% {
    transform: scaleY(1); } }
#head-container {
  z-index: 4;
  position: absolute; }
  #head-container .head {
    display: block;
    position: absolute;
    width: 110px;
    height: 130px;
    border-radius: 100%;
    background-color: #FFF1D0; }
    #head-container .head .face .eyes {
      margin: 54px 0 0 24px;
      animation: blink 3s infinite; }
      #head-container .head .face .eyes .eye-lhs {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 12px;
        border-radius: 100%;
        background-color: #121212; }
      #head-container .head .face .eyes .eye-rhs {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 12px;
        border-radius: 100%;
        background-color: #121212;
        margin: 0 0 0 38px; }
    #head-container .head .face .blush {
      margin: -6px 0 0 15px;
      z-index: 2; }
      #head-container .head .face .blush .blush-lhs {
        display: inline-block;
        position: relative;
        width: 26px;
        height: 26px;
        border-radius: 100%;
        background-color: #FFC3A3; }
      #head-container .head .face .blush .blush-rhs {
        display: inline-block;
        position: relative;
        width: 26px;
        height: 26px;
        border-radius: 100%;
        background-color: #FFC3A3;
        margin: 0 0 0 24px; }
    #head-container .head .face .nose {
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border-top: 10px solid transparent;
      border-bottom: 12px solid #E89188;
      border-left: 10px solid transparent;
      z-index: 3;
      margin: -8px 0 0 49px; }
    #head-container .head .face .mouth {
      display: block;
      position: relative;
      width: 16px;
      height: 10px;
      border-radius: 10px 15px 70px 70px;
      background-color: #444444;
      top: 26px;
      left: 47px; }
      #head-container .head .face .mouth .tongue {
        display: block;
        position: absolute;
        width: 8px;
        height: 5px;
        border-radius: 10px 15px 70px 70px;
        background-color: #D8764F;
        left: 4px;
        top: 5px; }

.neck-shadow {
  z-index: 3;
  display: block;
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #EEDAAB;
  border-radius: 10px 15px 70px 70px;
  top: 120px;
  left: 34px; }

.neck {
  z-index: 2;
  display: block;
  position: absolute;
  width: 40px;
  height: 44px;
  background-color: #FFF1D0;
  border-radius: 10px 15px 50px 50px;
  top: 120px;
  left: 34px; }

#hair-front {
  z-index: 5;
  position: absolute;
  margin: -12px 0 0 -4px; }
  #hair-front .bangs {
    width: 112px;
    height: 60px;
    background-color: #493628;
    border-radius: 90% 90% 100% 0;
    transform: rotate(-8deg); }

#hair-back {
  z-index: 1; }
  #hair-back .back-lhs {
    display: block;
    position: absolute;
    margin: 0px 0 0 -30px;
    width: 110px;
    height: 200px;
    background-color: #493628;
    border-radius: 100% 100% 90% 80%; }
  #hair-back .back-rhs {
    display: block;
    position: relative;
    margin: 0 0 0 36px;
    width: 100px;
    height: 200px;
    background-color: #493628;
    border-radius: 100% 100% 90% 80%;
    transform: rotate(-4deg); }

.top {
  z-index: 1;
  display: block;
  position: absolute;
  width: 160px;
  height: 100px;
  background-color: #FEC3C3;
  top: 136px;
  right: 2px;
  border-radius: 100% 100% 90% 80%; }

.mid {
  z-index: 2;
  display: block;
  position: absolute;
  width: 110px;
  height: 130px;
  background-color: #FEC3C3;
  border-radius: 0 0 10% 10%;
  top: 194px;
  right: 26px; }

.sleeve-lhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 54px;
  height: 60px;
  background-color: #FEC3C3;
  border-radius: 0 0 20% 20%;
  top: 174px;
  right: 116px;
  transform: rotate(24deg); }

.sleeve-rhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 54px;
  height: 60px;
  background-color: #FEC3C3;
  border-radius: 0 0 20% 20%;
  top: 174px;
  left: 88px;
  transform: rotate(-24deg); }

.bottom-top {
  z-index: 1;
  display: block;
  position: absolute;
  width: 110px;
  height: 260px;
  background-color: #FEC3C3;
  border-radius: 0 0 100% 100%;
  top: 290px;
  right: 26px; }

.bottom-lhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 140px;
  height: 250px;
  background-color: #FEC3C3;
  border-radius: 0;
  top: 310px;
  right: 18px;
  transform: rotate(10deg);
  border-radius: 0 100% 100% 50%; }

.bottom-rhs {
  z-index: 2;
  display: block;
  position: absolute;
  width: 140px;
  height: 250px;
  background-color: #FEC3C3;
  border-radius: 100% 0 30% 60%;
  top: 302px;
  right: 6px;
  transform: rotate(-10deg); }

.bottom-btm {
  z-index: 2;
  display: block;
  position: absolute;
  width: 170px;
  height: 100px;
  background-color: #FEC3C3;
  border-radius: 100% 100%;
  top: 470px;
  right: -3px; }

.arm-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 40px;
  height: 90px;
  background-color: #FFF1D0;
  border-radius: 10px 15px 50px 50px;
  top: 240px;
  right: 150px; }

.leg-lhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 40px;
  height: 90px;
  background-color: #FFF1D0;
  border-radius: 10px 15px 50px 50px;
  top: 540px;
  left: 6px; }

.leg-rhs {
  z-index: 1;
  display: block;
  position: absolute;
  width: 40px;
  height: 90px;
  background-color: #FFF1D0;
  border-radius: 10px 15px 50px 50px;
  top: 540px;
  left: 62px; }

body {
  background-color: #F0F7FC; }

#person {
  display: block;
  position: absolute;
  top: 12%;
  margin-left: 46%; }

/*# sourceMappingURL=style.css.map */
